<div class="card account-card">
  <div class="container">
    <div class="header text-center">
      <img src="../assets/images/logo.png" alt="logo"/>
      <hr>
    </div>

    <div class="body">
      <h5 class="mb-4 text-center mt-5">Forgot Password ?</h5>
      <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm)" autocomplete="off" ngNativeValidate>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email"
                 aria-describedby="emailHelp"
                 placeholder="you@domain.com" required>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="busy">
          <span *ngIf="!busy">Send me reset instructions</span> <span *ngIf="busy" class="fa fa-spinner fa-spin"></span>
        </button>
      </form>

      <p class="mt-4 mb-5 text-center">Get back to login? <a style="text-decoration: underline;" [routerLink]="['']">Login</a>
      </p>
    </div>
  </div>
</div>



