.hero-wrapper {
  height: 30rem;
  justify-content: space-around;
  background: hsla(0, 1%, 16%, 0.3) url(/assets/images/hero-banner@2x.png) center 0/cover;
  background-blend-mode: overlay;

  .container {
    height: inherit;
    color: white;
  }
  h1 {
    font-family: Lato, sans-serif;
  }
}
